# Virtual environment
venv

# Database
*.sqlite3

# User uploaded content
media/

# Python caches
__pycache__

# IDE config
.idea/
.vscode/

#dj_test/ #don't know why this was hidden, I guess she didn't expect people to keep the tutorial updated in the cloned repo.

# Trivia site
.env
staticfiles/